<!-- client/src/app/app.component.html -->
<div class="container">
  <h1>Simple MEAN App</h1>
  <br><br><br>
  <!-- Add Book Form -->
  <h2>Add Book</h2>
  <div class="form-row">
    <div class="form-group">
      <label>Title:</label>
      <input [(ngModel)]="newBook.title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Author:</label>
      <input [(ngModel)]="newBook.author" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Pages:</label>
      <input [(ngModel)]="newBook.pages" type="number" class="form-control">
    </div>
    <button (click)="addBook()" class="btn btn-primary add-button">Add Book</button>
  </div>

  <!-- Edit Form -->
  <div *ngIf="editBookData._id" class="edit-form">
    <h3>Edit Book</h3>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" [(ngModel)]="editBookData.title" class="form-control">
    </div>
    <div class="form-group">
      <label>Author:</label>
      <input type="text" [(ngModel)]="editBookData.author" class="form-control">
    </div>
    <div class="form-group">
      <label>Pages:</label>
      <input type="number" [(ngModel)]="editBookData.pages" class="form-control">
    </div>
    <button (click)="updateBook()" class="btn btn-success">Update</button>
    <button (click)="editBookData = {}" class="btn btn-secondary">Cancel</button>
  </div>
<br><br><br>
  <!-- Display Books -->
  <h2>Books List</h2>
  <ul class="books-list">
    <li *ngFor="let book of books" class="book-item">
      <span class="book-title">{{ book.title }}</span> by <span class="book-author">{{ book.author }}</span> ({{ book.pages }} pages)
      <button (click)="editBook(book)" class="btn btn-info btn-sm">Edit</button>
      <button (click)="deleteBook(book)" class="btn btn-danger btn-sm">Delete</button>
    </li>
  </ul>
</div>
